<h1><%= @candidate.name %></h1>

<ul>
<li><%= "State : #{@candidate.state}" %> </li>
<li><%= "Chamber: #{@candidate.chamber}" %> </li>
<li><%= "Party: #{@candidate.party}" %> </li>
<li><%= "First Elected: #{@candidate.first_elected}" %> </li>
<li><%= "Total Raised: #{@candidate.total}" %> </li>
<li><%= "Total Spent: #{@candidate.spent}" %> </li>
<li><%= "Cash on Hand: #{@candidate.cash_on_hand}" %> </li>
</ul>